[2016-10-31 22:59] gliechtenstein opened #3 "MkDocs automation"
This repo uses [Mkdocs](http://www.mkdocs.org/) to generate the [end-result on github pages](https://jasonette.github.io/documentation), therefore need to run `mkdocs gh-deploy --clean` every time a change is made on the `master` branch.

I didn't look into this but maybe there's a simple way to automate the build process?

[2016-11-03 14:28] gliechtenstein opened #4 "Document $oauth"
There's a huge chunk of code at [JasonOauthAction.m](https://github.com/Jasonette/JASONETTE-iOS/blob/develop/app/Jasonette/JasonOauthAction.m) that's not documented.

It's one of the most powerful features of Jasonette and needs to be documented.

[2016-11-15 18:24] gliechtenstein commented on #3
Resolved with https://github.com/Jasonette/documentation/commit/3d752ac395f5ac9b4b31289e97dede4bc43b99bd (and https://github.com/Jasonette/documentation/commit/456b7f689f8e9b189a3fcaee401a5582e22fbeb0) thanks to @gtramontina

[2016-11-15 18:24] #3 closed

[2016-12-22 22:47] lukeramsden opened #13 "Documentation for features like $keys, offline"

[2016-12-23 17:59] lukeramsden commented on #13
Offline solved by #14

[2016-12-24 16:25] gliechtenstein opened #15 "Accepting suggestions for the loading indicator attribute name"
Here's a pull request by @wajahatch888 waiting to be merged for a loading indicator: https://github.com/Jasonette/JASONETTE-iOS/pull/87

I've tried it and it works awesome. One thing I want to make sure is we name this attribute the best way possible. So far we're calling it `loading`, which looks like this:

## For `href`

[code]

## For `$network.request`

[code]

The question is:  **Can we come

[2016-12-24 18:08] lukeramsden commented on #15
NativeScript uses [ActivityIndicator](http://docs.nativescript.org/tutorial/chapter-4#46-activityindicator), maybe could use something like that? Maybe loadingIndicator?

[2016-12-24 18:30] wajahatch888 commented on #15
I think we should go with `loading` for now because in future i will also add some loading customising feature so it will become
`loading:{
  backgroundColor: "red",
  text : "Loading..",
  show : "true".
  ......

}`

[2016-12-24 18:32] lukeramsden commented on #15
@wajahatch888 All the more reason to use something more object-like, so I think we should go with LoadingIndicator or LoadingIcon etc

[2016-12-25 02:46] gliechtenstein commented on #15
@lukeramsden while I think both `loadingindicator` and `loadingicon` are fine in their own ways, I will have to disagree with you on this. The reason these other frameworks use camel case class names is because they actually **are** classes. That's not the case for Jasonette, which means there's no reason to artificially make it camel cased. Also it goes against the convention rest of the JASON sy

[2016-12-25 08:30] wajahatch888 commented on #15
@gliechtenstein , what if we use `loader` instead of `loading` ?

[2016-12-25 18:59] lukeramsden opened #16 "Documentation for loading indicator"
@wajahatch888 maybe you could write it?

[2016-12-25 19:00] lukeramsden commented on #13
Closing, will make new issue for $keys

[2016-12-25 19:00] #13 closed

[2016-12-25 19:00] lukeramsden opened #17 "Documentation for $keys"

[2016-12-25 19:51] lukeramsden commented on #17
#18 Current PR

[2016-12-25 21:01] lukeramsden commented on #17
Solved by #18

[2016-12-25 21:01] #17 closed

[2016-12-25 21:56] lukeramsden commented on #15
@ethan needs closing?

[2016-12-25 21:57] lukeramsden commented on #4
Any update on this?

[2016-12-25 22:46] #15 closed

[2016-12-26 10:52] snada commented on #4
Hello @lukeramsden as @gliechtenstein suggested on the [forum](https://forum.jasonette.com/t/oauth-facebook-login/77/4) and slack channel this feature will be documented as soon as the Android version is developed. There's this [issue](https://github.com/Jasonette/JASONETTE-Android/issues/15) in place.

I'm currently working on a pr on Android, I'll ping @gliechtenstein shortly

[2016-12-26 12:42] wajahatch888 commented on #16
@lukeramsden , I never tried MkDocs and Travis CI before. i am total newbie. I'll find some time and will definitely try to write it.

[2016-12-26 14:52] lukeramsden commented on #16
You just edit the .md files, you'll see how they are laid out by looking at the source 😊

[2016-12-26 20:32] gliechtenstein commented on #16
@wajahatch888 Yup, like @lukeramsden said, all you need to do is edit the source. In this case https://github.com/Jasonette/documentation/blob/master/docs/document.md => Which will turn into https://jasonette.github.io/documentation/document/#body All the MkDocs compilation and Travis CI is taken care of automatically when the pull request is merged so you don't have to worry about these things. (

[2016-12-29 03:56] gliechtenstein opened #19 "Documentation for image type button"
Buttons used to be text only, for example:

[code]

As of today, both Android (it was already working this way from the beginning unofficially, just haven't been documented) and iOS (via https://github.com/Jasonette/JASONETTE-iOS/pull/94) support image type buttons. The JSON markup looks like:

[code]

A test case for image buttons on Jasonpedia: https://github.com/Jasonette/Jasonpedia/blob/gh-pag

[2016-12-29 14:05] lukeramsden opened #20 "Documentation for admob"

[2016-12-29 14:20] lukeramsden commented on #20
#79

[2016-12-29 14:44] lukeramsden opened #21 "Documentation for push notifications"

[2016-12-30 13:27] gliechtenstein opened #22 "Border color documentation"
From this commit https://github.com/Jasonette/JASONETTE-iOS/pull/30/files by @WenchaoD

All components can have a `border_width` and `border_color`

[2016-12-30 20:14] gliechtenstein opened #24 "URL scheme documentation for iOS"
As described here : https://github.com/Jasonette/JASONETTE-iOS/issues/10

[2017-01-03 01:07] lukeramsden opened #26 "Be under jasonette.com subdomain instead of GitHub Pages"

[2017-01-03 02:17] gliechtenstein opened #28 "Test ticket from Code Climate"

[2017-01-03 02:17] gliechtenstein commented on #28
it works!

[2017-01-03 02:17] #28 closed

[2017-01-03 02:39] gliechtenstein opened #29 "Feedback needed - New feature for the template engine."
A few days ago I pushed a new feature for the template engine which fixes one of the most annoying problems people have been facing.

# Problem
For example here's a problematic situation:

[code]

This looks like it should work but it DOES NOT work.

More specifically, the `{{$jason.username}}` part doesn't work.

That's because it's inside the context of `$jason.posts` loop. When you think you're

[2017-01-03 05:59] gliechtenstein opened #30 "Document the new 'header' attribute for images and image buttons"
This works both on iOS and Android. Basically for accessing image assets that require authentication.

Related issue: https://github.com/Jasonette/JASONETTE-iOS/issues/86#issuecomment-270055728

[2017-01-03 07:13] gliechtenstein commented on #20
Just merged! https://github.com/Jasonette/documentation/pull/25

[2017-01-03 07:13] #20 closed

[2017-01-04 02:28] gliechtenstein opened #32 "Discussion - Relative URL support"
@brad came up with a great feature that takes care of relative URLs. Here's the PR: https://github.com/Jasonette/JASONETTE-Android/pull/35

The solution basically:

1. Looks at the `url` attribute of the `strings.xml` (The same url used for the root url of the app itself)
2. Use that as the root url with which all the relative URLs in the app will be resolved.

So for example, if the app's root UR

[2017-01-04 03:21] gtramontina commented on #32
HTML allows us to use relative URLs, which, by default, use the current location as the starting point. E.g.:
[code]

HTML also allows us setting the [`base`](https://developer.mozilla.org/en/docs/Web/HTML/Element/base) path. Similar to the proposed `root_url` (which I'd suggest for it to be named `base` instead, for consistency…)

[code]

Nothing prevents us from using the templating approach as

[2017-01-05 11:52] lukeramsden commented on #26
Sweet

[2017-01-06 01:43] gliechtenstein opened #33 "Document where actions can or cannot be attached to respond to touch"
Need to add the following to the documentation somewhere :

---

`action` can be attached to various UI elements to respond to touch, but not all.

## CAN be attached to:

1. menu - `$jason.body.header.menu`
2. tabs - `$jason.body.footer.tabs`
3. footer input - `$jason.body.footer.input.left` and `$jason.body.footer.input.right`
4. Top level of a section item - Example: `$body.sections[0].items[0]

[2017-01-15 22:04] gliechtenstein opened #34 "Document Local JSON"
Now local json is supported on both ios and android. need to document.

- iOS : https://github.com/Jasonette/JASONETTE-iOS/pull/42#issuecomment-267367787
- Android : https://github.com/Jasonette/JASONETTE-Android/issues/57

[2017-01-24 05:27] brad commented on #29
@gliechtenstein Maybe this is a silly question, but why can't we make `$jason` the keyword (instead of `$root`) and say you are not allowed to use `$jason` as an object key, as in `$jason.posts[1].$jason.username`. Is there any reason why one would want to use the name `$jason` in child like that?

[2017-01-25 02:27] gliechtenstein commented on #29
Hmm, then how would we express the `$jason` objects that are returned from actions as return values?

For example, when we `$render`, the template always starts with

[code]

[2017-01-25 02:41] brad commented on #29
@gliechtenstein Ahh, good point. I didn't see the whole picture. I like the idea of introducing `$root` and I'm personally happy with the name. :+1:

[2017-01-26 01:55] sg02 commented on #29
I guess $ stands for variable, # stands for evaluation, so, '#.variable' might mean a value of a variable, which ' stands for half of a value. In case hierarchy of variable is needed, it may be expressed by . and - just like in typescript.

[2017-01-26 03:22] sg02 commented on #29
The above proposal is not using any thing related to html.
Perhaps, // is comment in js and might be hidden evaluations. and it's started with //# without any spaces for the first.

Then, the synergy of # and // stand for evaluation and comment like these:

{{ #if }} ==> //#if

{{ $jason.username }} ==> '#.username'

"{{ #each $json.posts }}" : {
  ...
}
==> //#each "$json.posts" : {
  ...
//}

[2017-01-26 08:16] sg02 commented on #29
Without any of js,

#if

"#.username"

"##each $json.posts##"

# with single word, ## with sentences.
# or ## are just evaluation area.

[2017-01-26 14:32] gliechtenstein commented on #29
@sg02 thanks for sharing the idea!

If I understand correctly, you're suggesting we use `#` as the delimiter for any template expressions within a string, right?

One thing I realized while investigating different options is these symbols used to declare the range of a template needs to have a direction. For example `{{` or `<%=` marks the beginning and `}}` or `%>` marks the end.

If we don't hav

[2017-01-26 15:31] sg02 commented on #29
I recommended these 3 types.

'''
1. #reserved_keyword_only

2. #.variable_to_be_a_single_value

3. ##u_may_write_even_ur_long_fuction##
'''

I agree that html template engine was number 3 type only.

And your example is number 2 type like these:

As-was example:

'''
{
  "message": "I laugh: {{$jason.sound}},{{$jason.sound}},{{$jason.sound}}"
}
'''

To-be example:

'''
{
  "message": "I laugh: #.

[2017-01-26 16:04] gliechtenstein commented on #29
How would i do something like this?

[code]

Maybe like this?

[code]

What if `#.sound` actually has an attribute named `#`? Or if it had an attribute called `he`? How do we know if the user intended to access those attributes or if they just meant to print `"#"` ro `"he"`?

[2017-01-26 16:44] sg02 commented on #29
Well, how about <code>^#</code> or <code>#^</code> as an escape character to avoid js conflict?

And it's no problem at all with <code>he</code> I guess. Because <code>#.single_word</code> is literally a single word.

[2017-01-26 20:35] gliechtenstein commented on #29
Haha yes I've been asking you these questions not because I disagree with you completely but because this was exactly the thought process I went through--I had the same idea (just use a hashtag!) and had tried to make it work--and what started out as a clean solution started looking weird as I tried to support complex situations like these (I actually tried rewriting some markups into this notatio

[2017-01-26 23:47] sg02 commented on #29
Someone meant to print <code>#</code>, it might be written as <code>^##</code>.
Because the escape character is <code>^#</code>. (Easy to find <code>#</code> first and after.)

Your example will be like:
[code]
and I will change the definition a bit like:
[code]
you can notice that <code>#.single_word</code> is still itself.

In case, to expand single_word to hierachy_word, it may be changed <code

[2017-01-28 01:34] gliechtenstein commented on #29
Thanks for sharing the idea, I'll take it into account.

Actually, reading your comment and thinking about it more gave me some good ideas. Trying it out right now. Thanks!

[2017-02-01 06:47] sg02 commented on #29
In case, $ is used as tokens for templates,
I will change my recommendations like these:

[code]

Only `#` alone is not proper for uri, html id, c language, etc.

[2017-02-17 15:23] matthewadams opened #35 "Support YAML"
YAML is a terser format than JSON, and JSON is a subset of YAML; that is, valid JSON is also valid YAML, so there would be no backward compatibility issues.

For example, converting https://imagejason.herokuapp.com yields the document below.  Some might find this format preferable.

[code]

[2017-02-23 14:40] gliechtenstein opened #36 "Add documentation on integrating/extending on Android"
Currently the extension/integration is only documented for iOS http://docs.jasonette.com/advanced/ .

Let's create one for Android

[2017-03-01 15:39] giacecco opened #37 "GPS support?"
Jasonette is extremely interesting, thank you for the work so far, however I could not find any reference to using the devices' GPS, nor the examples make use of it. If Jasonette can't use GPS, please make it explicit somewhere in the documentation. Geofencing in particular is critical to an application I would like to use Jasonette to build. Thanks.

Giacecco

[2017-03-01 15:43] gliechtenstein commented on #37
Check out the [$geo.get](http://docs.jasonette.com/actions/#geoget) action.

If you are looking for something more sophisticated or custom, you can always [write an extension](http://docs.jasonette.com/advanced/#extension), it's very easy to write one.

Please let me know if this wasn't what you were looking for, thanks!

[2017-03-10 08:25] realtebo opened #38 "Android: Badge in the header is not showed"
I'm trying the following full code on Android 7, using Jason:

[code]

I see the header, with the title, and the Tap menu. Even the action is working, but the badge is NOT visible at all. I tried even without/changing top/left attributes

[2017-03-13 23:43] carstengrimm opened #39 "map"
Map component leaves a blank field and no map is loaded.

Edit: Didn't set api code, but now i have changed it the frame appears with "google" in the corner but now map is showing.

[2017-03-18 19:26] gliechtenstein commented on #38
Thanks for pointing out! This has been fixed with https://github.com/Jasonette/JASONETTE-Android/issues/76

Try re-downloading from `develop` branch of https://github.com/Jasonette/JASONETTE-Android

[2017-03-18 19:26] #38 closed

[2017-03-20 11:33] realtebo commented on #38
Has been Jason updated to handle this new develop?

[2017-03-27 04:14] #29 closed

[2017-03-27 20:42] darenr opened #41 "Horizontal space component doesn’t work with background color"
I'll file an issue also, but posting here in case I'm just doing it wrong

https://www.jasonbase.com/things/qVPV.json

if the space is vertical then it honors the background color, but when horizontal it does not.

My intention is to create a component element that has a width in a horizontal layout and a color

[2017-03-28 16:17] amankumarjain opened #42 "header option for $network.request action not working"
`{
  "type": "$network.request",
  "options": {
    "url": "http://www.jasonbase.com/messages.json",
    "method": "post",
    "data": {
      "user_id": "fI9",
      "message": "Hello there"
    },
    "header": {
      "auth_token": "fnekfla98dls9sNFK0nf3"
    }
  },
  "success": {
    "type": "$render"
  },
  "error": {
    "type": "$util.alert",
    "options": {
      "title": "Error",
      "

[2017-03-28 17:59] gliechtenstein commented on #42
This should be fixed with the latest `develop` branch. Could you retry and let me know if that works? You can get it here https://github.com/Jasonette/JASONETTE-Android/archive/develop.zip

[2017-03-28 18:18] gliechtenstein opened #43 "HTML2.0 documentation"

[2017-03-28 18:19] gliechtenstein opened #44 "New notation for mixin"
uses "+" as well as "@"

[2017-03-28 18:20] gliechtenstein opened #45 "document footer.input style"
footer.input can now be styled

[2017-03-28 18:21] gliechtenstein opened #46 "Document background audio permission for iOS"
To be able to play audio in background, we need to turn on the background audio permission. This needs to be documented

[2017-03-28 18:23] gliechtenstein opened #47 "Add tab bar troubleshooting guide"
The tab bar can be a bit confusing at first. For example https://github.com/Jasonette/JASONETTE-iOS/commit/b24d022a4d27fde8334f0886a4bd993e94d0f24c

These troubleshooting guides should be documented

[2017-03-28 18:26] gliechtenstein opened #48 "Document image type button"
People try to attach "action" to images. Perhaps we will support this in the future, but for now only `button` components can support actions.

However buttons can be a label type or an image type, so you can just use button to display interactive images. This needs to be documented

[2017-03-28 18:26] gliechtenstein opened #49 "Document : tab bar can have up to 5 items"

[2017-03-28 18:34] gliechtenstein opened #50 "Document color background tips"
To create a transparent color anywhere, you can use `rgba(0,0,0,0)`.

[2017-03-28 18:42] gliechtenstein commented on #42
Oh i had totally missed the part where you asked if you can do a pull request.

This time I just went ahead and fixed it, but in the future please feel free to send a PR anytime if you see something wrong. Totally appreciate it!

[2017-03-28 19:22] gliechtenstein commented on #50
Available at http://localhost:8000/convention/#values

[2017-03-28 19:22] #50 closed

[2017-03-28 19:33] gliechtenstein commented on #47
Resolved https://github.com/Jasonette/documentation/commit/85f541bd568f26efda2b868fffd37e86a651d957

[2017-03-28 19:33] #47 closed

[2017-03-28 19:36] gliechtenstein commented on #49
Resolved https://github.com/Jasonette/documentation/commit/5368b6c3b6bbb03e1669f09cf63c4e48a77cd97c

[2017-03-28 19:36] #49 closed

[2017-03-28 19:44] gliechtenstein commented on #48
Resolved https://github.com/Jasonette/documentation/commit/e9164a33985967a6a1845e532894c5d93d1440ff

[2017-03-28 19:44] #48 closed

[2017-03-28 20:13] gliechtenstein commented on #46
Resolved https://github.com/Jasonette/documentation/commit/7635f8c93b62e567d9d19a548fdabd2c195b221d

[2017-03-28 20:13] #46 closed

[2017-03-28 20:33] gliechtenstein opened #51 "document $util.addressbook permissions"

[2017-03-28 20:33] gliechtenstein opened #52 "document $geo permissions"

[2017-03-28 20:34] gliechtenstein commented on #39
Documentation complete with this https://github.com/Jasonette/documentation/commit/aa6744a2142cc5d0cf0cfa7a3741853a0030e9d4

[2017-03-28 20:34] #39 closed

[2017-03-28 20:35] gliechtenstein commented on #51
Resolved with https://github.com/Jasonette/documentation/commit/9bfdfa1fe1de216854bef914c6d5402d89d94968

[2017-03-28 20:35] #51 closed

[2017-03-28 20:35] gliechtenstein commented on #52
Resolved with https://github.com/Jasonette/documentation/commit/4123e770b693796c18230d4e676b93dfeed127f3

[2017-03-28 20:35] #52 closed

[2017-03-28 20:36] gliechtenstein commented on #19
Same as https://github.com/Jasonette/documentation/issues/48

[2017-03-28 20:36] #19 closed

[2017-03-28 21:02] gliechtenstein commented on #33
Resolved https://github.com/Jasonette/documentation/commit/98e8f3530be4ae1243e5164813526d108d3ecdb7

[2017-03-28 21:02] #33 closed

[2017-03-28 21:13] gliechtenstein commented on #16
Resolved https://github.com/Jasonette/documentation/commit/579ed8fa103fdbd962b4544ab12b60c886c77bb3

[2017-03-28 21:13] #16 closed

[2017-03-28 22:13] gliechtenstein commented on #34
Resolved with https://github.com/Jasonette/documentation/commit/a4a50dc4e6ee8073f1a3d19232765864ee562e8c

[2017-03-28 22:13] #34 closed

[2017-03-28 22:24] gliechtenstein commented on #30
Resolved https://github.com/Jasonette/documentation/commit/7776fd57f67635087457bfe45faaab0453373bc6

[2017-03-28 22:24] #30 closed

[2017-03-28 22:42] gliechtenstein commented on #45
Resolved https://github.com/Jasonette/documentation/commit/52802cff970505205330f03331b228dcb7cb0b57

[2017-03-28 22:42] #45 closed

[2017-03-29 10:22] amankumarjain opened #54 "How to get response json data of $network.request inside success action?"

[2017-03-29 15:46] gliechtenstein commented on #54
It's same as all other actions. Please check out the documentation http://docs.jasonette.com/actions/#basics

Also, just a heads up. You can ask these questions on https://forum.jasonette.com where there are more people hanging out. This repository is just for writing the documentation and I would like to keep the issues section only for keeping track of things to document.

[2017-03-29 15:46] #54 closed

[2017-05-11 00:36] gliechtenstein opened #56 "Spec for the NEW Local Storage - Feedback appreciated"
One of the most frequently requested features is local key/value storage. This is a sensitive problem since it's directly related to security. Browsers have sandboxing for many good reasons. This is why I've been delaying making a decision on this until I've come up with a couple of ideas.

Now I have, and wanted to share. Note that none of the ideas involve having a single global storage, but inv

[2017-05-12 15:15] j2l commented on #56
Very interesting!
Do you have an example where 2 solves a problem 1 can't?
If not, I prefer 1.

[2017-05-12 20:46] steve21124 commented on #56
@j2l Yes. flexibility come with complexity. Prefer simple 1 unless no 2 has real benefit.

[2017-05-14 03:38] drwasho commented on #56
Finally got to read this. This looks great and it would solve some of the problems I've been facing!

[2017-05-14 16:58] gliechtenstein commented on #56
@drwasho the reason I came up with **option 2** was because you mentioned to me how the first approach wouldn't work for you. Maybe you can weigh in on the conversation on whether option 2 actually solves your problem?

[2017-05-15 05:43] drwasho commented on #56
For what I'm building, there were 2 reasons why I decided not to use the option 1 approach:

1. I had no easy way to clear the state in other views other than to have the user go into those views and either: a) have them remove whatever data persisted there, or b) automatically clear the state every time you open that view (which was a bad idea)

2. From a data handling POV, it was easier to acces

[2017-05-16 09:06] j2l commented on #56
@drwasho, it makes sense.
thanks!
May I ask how you manage the child view of a product? With templates only or views? If views, how do you manage to have them offline?

[2017-05-17 02:31] Joshfindit commented on #56
Two comments:

* Second vote here for the ability to have a global storage per app, with all views inside the app being able to access it, but I do also like this idea of protecting some values behind the export/import scheme.
* In the data-per-url scheme, would it be beneficial to think of only allowing certain other urls/views to access protected keys?

[2017-05-19 01:43] gliechtenstein commented on #56
@Joshfindit Yes that was the idea. In case of the second spec (which I am leaning towards), there's an attribute called `state`, which will just be an array of accessible attributes for the initial release, but eventually it will contain something like a key value pair of security info such as:

[code]

In this case the `username` attribute is readable from all urls but only writable by the specif

[2017-05-19 04:58] gliechtenstein commented on #56
OK I made some updates. Here's the new syntax. This will probably be the final version that will roll out unless someone finds a bug or weird cases I haven't thought of.

Before I explain, you can try out a working demo at https://jasonbase.com/things/amWz

Basically the example creates a "chatroom" but everything is stored locally. Note that you need the $state branch code to get this to work.

A

[2017-06-13 19:32] gliechtenstein commented on #56
# Syntax v3.0

OK today I have another proposal. The v2.0 definitely works but I wasn't completely satisfied (especially the `$state.get` part) so have been trying to come up with a couple more ideas.

So this time I tried to come up with a syntax that will:

1. Get rid of the **email-address-like scheme** to refer to various states
2. Use a variable instead of an action when retrieving state

Any

[2017-06-14 23:26] moses5407 commented on #56
I'm sure I'm missing a LOT .. but why not json data into and out of indexeddb something like this?
https://stackoverflow.com/questions/31703419/how-to-import-json-file-into-indexeddb

[2017-06-14 23:36] gliechtenstein commented on #56
@moses5407 the problem is more about "how" to express the get/set/reset actions in pure JSON markup, than how to implement it internally.

The implementation itself is easy like you said, it will be pretty much about storing JSON under the URL namespace. What's been difficult was coming up with a concise and consistent way of expressing these actions in pure JSON.

Or maybe I misunderstood what yo

[2017-06-15 00:04] moses5407 commented on #56
You didn't misunderstand. :-)

In my simple mind, I was envisioning simply iterating over any changed data set and updating the indexeddb datastore or get-ing data from the indexeddb datastore in an offline condition.

I'm slowwwwwly trying to get up to speed on a number of things and offline first is only one of them.
In the process of looking into indexeddb I came across things like the followin

[2017-06-16 00:38] drwasho commented on #56
Hey @gliechtenstein

**1. Setting state**

- Makes a great deal of sense and I like it

**2. Getting state**

👏  Masterpiece

**3. Reseting state**

Makes sense. LGTM.

[2017-06-17 18:15] hoffmabc commented on #56
@gliechtenstein could you just use "global" as your namespace for the cache and write it from wherever? I would assume this latest model allows that?

[2017-06-18 01:09] gliechtenstein commented on #56
@hoffmabc it's for security reasons. Jasonette is basically a browser for apps. This means it is possible to cross over between different apps (the soul) within the same app (the shell). I think this is one of the biggest strengths of Jasonette, but at the same time can be a security hole. I think it's easy to understand if you think in parallel with how web browsers work. They have localstorage b

[2017-06-19 00:11] gliechtenstein commented on #56
OK I change my mind.

I have decided to roll out the "global variable" everyone wants, instead of trying to keep trying to come up with the best solution for a sandboxed storage. It's much simpler than everything I've mentioned above because it's just a single global scope, and there is no URL. The reason I changed my mind is:

1. I've talked to quite a few users about this feature, and from the f

[2017-06-19 01:23] moses5407 commented on #56
NOW I understand the reason for the sandboxed storage. Thanks for that explanation about APP1 calling APP2 and the possible resulting data confusion.

[2017-06-19 04:56] gliechtenstein opened #58 "Need to decide on the box-sizing policy"
Some of the dimensions are not consistent on iOS and Android.

Basically the same problem as CSS box-sizing property.

For example when you set `width: 100%`, on Android it actually sets the width to full 100%, which means it will go out of bounds if there's a padding involved, but on iOS the OS makes sure the elements don't go out of bound, so setting `width: 100%` is almost like saying `max-widt

[2017-06-19 11:07] j2l commented on #56
I also get the reasons behind your initial setup. Thanks

[2017-06-21 06:27] wizzard0 opened #59 "post offline"
Use case: post a message to chat when the user is offline

Intended UX:
- user posts a message
- message appears in the view immediately with a "..." or spinner indicator
- when the server acknowledges the message, the indicator changes to check mark (or simply disappears)
- server can explicitly reject the request (403 etc) or it might expire after a specified timeout

Implementation options:
1.

[2017-06-25 03:25] wizzard0 opened #60 "javascript in actions"
In line with the "post offline" question, what's the recommended way to write actions involving client-side JS?

Something simple, like "add message to recently posted messages list".

[2017-07-03 10:46] gtramontina opened #61 "Register a media-type with IANA"
Hey everyone,

Here's something I've been willing to bring up but am just taking the time write now…

It is my understanding that Jasonette understands a very specific json format called `Jason`, correct?

Assuming the above is true, what do you think about registering a media type with [IANA](https://www.iana.org/assignments/media-types/media-types.xhtml)? I'll list down some name options that co

[2017-07-04 01:46] maks commented on #61
Yes, since it's a specific json schema, makes sense to do this.

[2017-07-06 05:50] gliechtenstein commented on #61
I can understand this is meaningful theoretically, but I am not yet understanding how this can be immediately beneficial to anyone in a practical manner at the moment. Maybe if you could share a specific hypothetical scenario where this makes sense, it would help me better understand.

I am asking specifically in the context of what Jasonette is today. Maybe in the future it will grow into somethi

[2017-07-07 21:16] darenr commented on #32
It's not really a Jasonette solution, but I do all template expansion on the server and expanding relative URLs is trivial in python, the json tree is walked looking for any key that has an expected URL for a value and uses python's urlparse to rewrite the urls.

I'm not sure I grok the problem, why this would have edge cases or be difficult, the Jasonette code that fetches anything should look at

[2017-07-09 23:20] maks commented on #32
@gliechtenstein the reason I brought this up is for me its already difficult to cope with the workflow I set up of: quickly develop using a httpd on my local machine serving to apps run on emu, phone etc. Then once I'm happy, push it to "test" url for alpha test users, then next step I want is to be able to bundle into apk for deploy to Google Play. Currently that means having to have seperate git

[2017-07-12 16:36] gliechtenstein opened #62 "Component ratio support"
There are several places where we can optimize to make Jasonette scroll smoothly.

One of those cases is handling component dimension. To understand why this is so, I need to discuss how this is implemented internally. You can skip this part and jump to the next "proposal" section if you're just curious about the proposed solution.

# 1. How app layout works

## How Jasonette handles layout

All m

[2017-07-12 17:57] gliechtenstein opened #63 "Public component directory"
Implement some way to share components with the community (probably as mixins)

Could be built on top of Jasonbase or can be a separate thing.

[2017-07-13 01:43] drwasho commented on #62
I really like this @gliechtenstein, I also think that while we're at it (and if it's not too much trouble) we should be looking at image scaling:

[code]

Or negative (zoom out):

[code]

[2017-07-13 01:45] gliechtenstein commented on #62
@drwasho how does scaling work?

[2017-07-13 05:57] drwasho commented on #62
It would analogous to `transform: scale(1.3)` in CSS, so zooming into or out of an image.

[2017-07-13 06:21] jashot7 commented on #62
I like, appreciate and agree upon a focus with either:

- the width or the height
- the ratio of width vs. height

[2017-07-14 05:16] maks opened #64 "action for pin selected on map component"
Following on from [this issue](https://github.com/Jasonette/JASONETTE-Android/issues/79) another useful feature for the Map component would be to have an action for when a specific pin is selected (clicked) on a map.

[2017-07-20 09:17] arifrifai commented on #64
Agree.

[2017-07-21 14:47] gliechtenstein commented on #64
Agreed! I think it's a matter of attaching `href` and `action` to the pins. In fact it sounds like an obvious feature that's missing! Just created issues:

https://github.com/Jasonette/JASONETTE-Android/issues/144

https://github.com/Jasonette/JASONETTE-iOS/issues/242

[2017-07-21 15:46] gliechtenstein commented on #62
Guys, please check out the [ratio branch](https://github.com/Jasonette/JASONETTE-iOS/pull/244/files)

I would appreciate it if someone could try it out and share feedback. I think this will improve rendering for situations mentioned above, but I don't personally have an example where this actually matters.

[2017-07-21 16:40] darenr commented on #62
I will give it a try, some initial feedback on syntax:

- I'm guessing that I can do the ratio calculation in javascript as in:

[code]

But it would be useful maybe to also support in the syntax math equations to avoid having to make the ratio calculation because my use case where I do server-side templating is easy to come up with the image ratio is probably atypical - what would be more typical

[2017-07-21 17:14] gliechtenstein commented on #62
@darenr done https://github.com/Jasonette/JASONETTE-iOS/commit/cdb8bd3929215173a9ff50dc4dbb474e03195837

You can do `"2:1"` as well as `"1/9"`

I am guessing this happens when you only specify just width or just height. Which means if you know the width and the ratio, or the height and the ratio, the stretch wouldn't happen. But this assumes that you know the ratio.

That said, I do think we need

[2017-07-21 17:27] gliechtenstein commented on #62
Added android branch https://github.com/Jasonette/JASONETTE-Android/commit/6a45c9b20110796694d0579b912381b49528c07a

[2017-07-21 17:39] gliechtenstein commented on #62
BTW I took a look at whether it's feasible to add `scale` as well, and this turns out to be much more involved and require a lot of time, so let's revisit this one later.

[2017-07-22 14:46] gliechtenstein opened #66 "Send message from web containers to the parent app"
Currently web containers are a one way thing. You cannot call a Jasonette action from inside web container, for example.

Making this two-way could be helpful.

[2017-07-23 04:20] copongcopong commented on #66
WebView sending "Jason" to parent app, could probably trigger new view and same flow;  Doing a data messaging back and forth would need a different approach.

[2017-07-23 14:33] gliechtenstein opened #67 "Add connection type to $env"
We could detect if it's wifi or 3g or lte, etc. and render completely different versions of an app if we wanted. Just need to add another attribute to [$env](http://docs.jasonette.com/env/)

[2017-07-23 14:43] gliechtenstein opened #68 "#each with index"
currently `#each` doesn't support index so if you need to use an index inside the loop you need to do some convoluted Javascript magic. Would be nice if we could do something like:

[code]

Or maybe there's a better syntax.

[2017-07-23 14:46] gliechtenstein commented on #66
@copongcopong great point, I was thinking about just starting out with implementing actions. It's still just idea stage though. Trying to think of some critical use cases.

[2017-07-23 14:48] gliechtenstein opened #69 "Call JS functions inside web containers from the parent app"
This is the opposite of https://github.com/Jasonette/documentation/issues/66

Currently if you want to dynamically update contents inside a web container, you have to re-render the whole view.

But the nice thing about web containers is it's a completely isolated environment from the outside world, so if we can simply send a message to the container it can update on its own without us re-rendering

[2017-07-23 23:13] maks commented on #67
could this also include 'offline' to allow detecting that state too?

[2017-07-25 13:57] gliechtenstein commented on #67
@maks yes, i can't confirm util i try but i presume that should be feasible too!

[2017-07-26 03:02] gliechtenstein opened #71 "Clarify inline action vs regsitry based trigger gotcha"
In most cases, defining actions under `$jason.head.actions` and calling them via `trigger` is recommended.

This is because if we ever happen to pass around dynamic arguments, these template expressions may get instantiated on view render and will baked into the view.

For example, in the following case we want to display an alert with the local variable `val` at the time of user tap.

[code]

How

[2017-07-27 21:25] JasperRoest commented on #66
I will be watching this issue, as I mentioned this is pretty useful for me - but I agree that use cases should be critical, will let you know if I know some very specific ones (too late at night to think about that right now :)). Checking out the other issues now to see if there is something that I can help out with over the weekend.

[2017-07-29 02:12] gliechtenstein opened #72 "Keyboard type"
Just like HTML has multiple input types, support multiple input types for the keyboard when `textfield` or `textarea` is focused.

This feature will be triggered by supporting an additional attribute called `keyboard` (tentative) to `textarea` and `textfield` components. Example:

[code]

For starters I think the following will be enough:

- text (default)
- number
- phone
- email
- url

But any s

[2017-07-29 04:01] maks commented on #72
:+1: This is a great idea!
On Android its often useful to turn off auto-complete (aka suggestons). Its just [a couple of other text attributes to set](https://stackoverflow.com/a/33320606/85472)

[2017-07-29 10:50] drwasho commented on #72
Hell yes, please!

[2017-07-29 23:36] gliechtenstein commented on #72
@maks your comment reminded me that I only implemented some of the attributes such as `autocorrect `, `autocapitalize`, and `spellcheck` on iOS and forgot to do so on Android, as mentioned at http://docs.jasonette.com/components/#textfield

I just created an issue here: https://github.com/Jasonette/JASONETTE-Android/issues/153

[2017-08-03 01:16] maks opened #74 "support file url in $network.upload"
Currently  $network.upload uses the mostly undocumented `data` property to upload a data uri to S3.
Instead, as discussed with @gliechtenstein on slack, it would be better to support using a local file url as the source of the data to be uploaded, which avoids having to hold the whole file being uploaded (which potentially can be very large) in app memory.
The syntax that will be used for the prop

[2017-08-09 02:55] arifrifai opened #75 "Label component styling"
need simple styling for label component (bold, italic, underline) with Markdown or HTML. It can be implemented with `SpannedText` in Android with `fromHtml()` method.

[2017-08-09 03:54] maks commented on #75
My preference would be to use markdown.

Given that on Android fromHtml() is just a helper for turning a specific _**subset**_ of html into `SpannedText` which is an API and not tied to any specific markup.

On the implementation side of things there is already for example a Android and iOS library [Bypass](http://uncodin.github.io/bypass/) that would handle this, though for Android it uses the ND

[2017-08-09 22:37] drwasho opened #76 "Add body.style.align to documentation + more options"
Jasonette has an undocumented feature called `body.style.align`. When it is set to `bottom`, the view will scroll to the bottom after every $render or $reload (which is great for chat).

An unsupported feature would be to add `top`, which makes the view scroll to the top after every $render/$reload.

Whatever the current behaviour is should be `default` or something, not sure.

[2017-08-11 14:26] gliechtenstein commented on #66
This feature is coming soon. Just updating here with a bit of more info on how it's implemented so we can document it:

---

This feature allows a web container to reach outside of its own sandbox and call its parent Jasonette native app's JASON actions, simply by calling:

[code]

from its javascript. You just need to pass the same action JSON as an argument. Here's an example:

[code]

Another e

[2017-08-11 20:32] gliechtenstein opened #77 "Supporting Custom Events (push notification, websocket, geolocation, etc)"
Currently on Jasonette, actions can be triggered by:

1. User input (when you touch a button, the `action` attached to the same button is run)
2. Another action (via "trigger")
3. System events ($load, $show, $pull, $foreground)

This post is related to **3**.

# Preface: How Events Work Today

The only way to make use of system events is to define their handlers under `$jason.head.actions`. For e

[2017-08-14 20:43] jashot7 opened #78 "Event Logger"
_@gliechtenstein and I had a brief chat about this today._

There should be a Jasonette logger that fires events for common actions, such as the ones below:

- Network Requests
- Network Responses
- Timer Creation/Start
- Timer Triggering Actions

I currently have an implementation of a very basic/simple version of this that simply logs these events to the xCode console using NSLog, but ideally a

[2017-08-15 23:30] maks commented on #77
Mostly LGTM.
With naming events I would suggest $notification.recieved
Actually I think its a little buit confusing that built in actions (eg. $render) as well as events are all `$` prefixed now that events won't all necessarily be system events, but thats only a minor niggle.

Main point I wanted to raise though is about background processing. This is Android specific, I don't know enough about h

[2017-08-16 13:20] gliechtenstein commented on #77
Wouldn't this be ambiguous? The "registered" event is something we also receive from the server side. Note that we don't have to go with the `$notification` prefix and come up with a better one if we want, as this API hasn't even been made public yet. Here's an example of how Websockets API https://developer.mozilla.org/en-US/docs/Web/API/WebSocket

I understand it can be a bit confusing, but I di

[2017-08-16 17:15] gliechtenstein commented on #78
One random idea i just had:

maybe we can create a protocol for all actions to support debugging to console. For example, we introduce an additional attribute called `debug`

[code]

Note that this `debug` is a top level attribute on the same level as `type`, `options`, `success`, and `error`.

All actions are free to implement this additional attribute `debug`, and each action can behave whicheve

[2017-08-16 22:22] maks commented on #77
@gliechtenstein thanks for such a detailed followup!

Re: "$", sorry I wasnt thinking about extensions correctly from Jasonette users pov, makes perfect sense now.

Re: JSON in notification payloads: excellent idea! Didnt spot that in the iOS implementation. I like supporting actions as well as href.

Re: "Rich Notifications UI" yes agree don't need this right now, BUT...

This makes me think I sh

[2017-08-16 23:18] maks commented on #78
@gliechtenstein :100:  !!!
I think this idea is an excellent idea to add a debug action!
Please lets decide on the details and implement asap :-) (I'm happy to build the Android side)
My 2c:
* please lets have a global `debug` property as well in the `head` to have the option to turning on debug for everything as well, as I could see myself wanting to sometimes do that rather than going through an

[2017-08-17 20:45] clsource commented on #78
Some ideas 👍

I think having a logger property on the head can be used for configuration a logger server. And then every logger call will send the logs using this info.

[code]
As you can see it's similar to `$network.request` action but with `level` and `default` properties.

**level**

defines what kind of messages will be sent to the logger server. If set to debug will send all debug and superi

[2017-08-18 00:19] maks opened #79 "add core UI component for on-off (boolean) component"
There is currently no UI component to represent a boolean state (on/off, true/false, etc).

On iOS this would be a [switch](https://developer.apple.com/ios/human-interface-guidelines/ui-controls/switches/)

On modern Android this is also now a [switch](https://developer.android.com/guide/topics/ui/controls/togglebutton.html) (historically in older, pre v4 versions they were "togglebuttons").

Foll

[2017-08-18 15:48] gliechtenstein commented on #78
---

Re @clsource :

First I want to make sure I'm understanding correctly. Are we talking about a custom Jasonette log server that's able to log the result? Or is this about any analytics service (such as google analytics, segment, mixpanel, etc.)? I think it would be great to have a node.js server that can be set up either locally or remotely to do custom logging for Jasonette.

As for the JSON

[2017-08-18 16:49] clsource commented on #78
@gliechtenstein sure I will look into custom events and think a way to create a logger for jasonette events using existing sintax 👍

[2017-08-19 20:20] gliechtenstein commented on #78
I just made a PR https://github.com/Jasonette/JASONETTE-iOS/pull/258 based on @jashot7 's original code. Made a little change to log not just the body but also header.

It's just a basic logging feature that turns on and off based on `options.debug`'s existence. A bit different from my original proposal where `debug` was on the same level as `type`, `options`, `success`, and `error` because I real

[2017-08-20 16:29] gliechtenstein commented on #32
I have started looking at this seriously. I do understand the problem (the JSON is not portable enough) but would like to understand the problem a bit better before moving forward.

@maks could you elaborate on this a bit? An example snippet that demonstrates how this is tricky would be really helpful.

[2017-08-20 16:51] gliechtenstein commented on #72
Test case: https://jasonbase.com/things/B8e5

[code]

[2017-08-20 16:51] gliechtenstein commented on #72
Just pushed a PR for this for iOS : https://github.com/Jasonette/JASONETTE-iOS/pull/259

[2017-08-20 23:48] maks commented on #32
@gliechtenstein Sorry yes, I should have provided concrete examples.
So for example I have a top-level jason like so:
[code]
then in for example app-template.json I have more mixins to split out the body and footer, the body mixing then has urls to images that I use for image buttons, etc. Having to put the absolute url in all the files means if I want to go from testing locally (the urls with the

[2017-08-21 19:07] clsource commented on #35
I think this is not needed in the core of jasonette. You can easily write a yaml to json converter in the server side. Always write in yaml but always output json.

Python
http://pyyaml.org/wiki/PyYAMLDocumentation

PHP
https://symfony.com/doc/current/components/yaml.html

👍

[2017-08-21 19:25] clsource opened #83 "[Request] Add ios and android attribute to options"
Needed if you want a specific behaviour or style depending on the operating system. Inside each you could put an an object with an action and/or style that would overwrite the global action or style for the component.

[code]

[2017-08-21 19:31] clsource commented on #22
Done https://github.com/Jasonette/documentation/pull/82

[2017-08-21 20:36] jashot7 commented on #78
Awesome, @gliechtenstein. In order for this to replace what I'm currently doing for logging, it has to be something that I can turn on and off app-wide quickly and easily.

Implementing this for JasonTimerAction and other actions would be super as well. In particular, logging the requests made with Require would be really useful and I'm adding that next to our logger.

[2017-08-21 20:40] clsource commented on #78
How about this for global debug mode on

$debug.on and $debug.off
Default `class` is debug.

[code]

Then activate the global debug in the `$load` event with `trigger:global_debug`

[2017-08-22 06:34] maks commented on #83
@clsource I think this is another candidate to move over to the new Jasonette (spec) repo issues. I have feedback o this, so I'll wait to add it once its moved to the new repo.

[2017-08-22 06:34] #83 closed

[2017-08-22 06:44] #68 closed

[2017-09-15 02:13] gliechtenstein commented on #72
Android PR: https://github.com/Jasonette/JASONETTE-Android/pull/184

[2017-09-15 02:21] gliechtenstein commented on #72
Resolved

[2017-09-15 02:21] #72 closed

[2017-09-15 02:27] gliechtenstein commented on #72
Documented here: http://docs.jasonette.com/components/#textfield

[2017-10-26 11:27] arungowtham commented on #36
Hi @gliechtenstein , Is this possible now ?

[2017-10-27 20:24] gliechtenstein commented on #36
integration/extension on Android has been always possible from day 1. It's just that I didn't have time to write a documentation for it. If you look into the code you'll find that there's a pattern. Just follow the pattern and you'll be able to make it work.

Also refer to the documentation on how iOS part does it, it works very similar to how it works on the iOS side.

[2018-03-13 02:10] adefemi171 commented on #32
Hi @maks @gliechtenstein , i downloaded the jasonette file to use to run my website on an android platform and i believe the xml form am to change the link to mine is the string.xml which i did but the website wont come up, it just keep on loading and never shows anything. And going through the tutorials i discovered there was a file named settings.plist where i could make some edits but i couldn'

[2018-03-13 21:49] gliechtenstein commented on #32
@adefemi171 Please post this as a new issue on [Android repo](https://github.com/Jasonette/Jasonette-Android/issues) so we don't spam everyone on this thread.

Also please make sure to post:

- The JSON markup you're using
- Your device type
- Your OS version
- Your Android studio version

Especially make sure you post the code you're using, otherwise there's no way to figure out what's going wron

[2018-03-24 19:31] webserveis opened #89 "Error: no implicit conversion of String into Integer"
Recive error

500 Error

[code]
I use https://jsoneditoronline.org/ for generate valid json,

It seems to be a bug, since the json seems to be valid

[2018-03-24 21:38] gliechtenstein commented on #89
Thanks for reporting, I have just fixed it on jasonbase.com Try it out.

Just to clarify, Jasonbase is just a site I am maintaining to make it easy for anyone to quickly build apps. Technically you can host your JSON from anywhere, like github or pastebin or whatever, which is the whole point of using JSON as a markup because it makes the apps completely portable.

The reason Jasonbase is useful i

[2018-03-28 15:51] nalsaber commented on #36
Hi @gliechtenstein, did you get a chance to write documentation for Android Integration?

[2018-03-29 01:59] nalsaber commented on #36
I actually figured it out, this is how you do Android Integration. From your existing app, launch the JasonViewActivity intent with the JASON URL:

    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        Intent i = new Intent(this, JasonViewActivity.class);
        i.putExtra("url","https://...../network.json");
        startActivity(i);
    }

[2018-03-30 09:41] gliechtenstein commented on #36
Thanks, if you have time and would like to contribute to the documentation please feel free to send a PR https://github.com/Jasonette/documentation

I am sure people from the future would appreciate it. Thanks!

[2018-04-04 09:28] webserveis commented on #89
Fixed the error when creating new json, but the error persists when you edit the json

[2018-08-21 17:50] #78 closed

[2019-01-28 03:41] scriptmaster opened #91 "Errata in $util.datepicker actions documentation, formatting"
In here https://docs.jasonette.com/actions/ scroll down to $util.datepicker example and you will see a superfluous span in the parseInt function param around $jason

Hope this submission helps.

[2019-03-17 19:30] ajmeese7 opened #92 "Dead link"
For the `Here's the site` link on https://docs.jasonette.com/agents/, the link doesn't lead to a functioning app. I would have removed the link in a PR, but I feel it would be more beneficial to find a way to offer the code to the users if you don't want to host it so they can try it themselves.

The link right after it, https://wsjason.herokuapp.com/app.json, says it is supposed to be used for th

[2019-03-17 22:39] clsource commented on #92
go here https://github.com/jasonelle/jasonette-docs/blob/master/docs/agents.md

[2019-03-19 19:08] ajmeese7 commented on #92
Made this before joining the Slack and learning that this project had been moved to Jasonelle. Apologies

[2019-03-19 19:08] #92 closed

[2020-01-16 17:07] TimSorgenfrei opened #93 "Search for text on a website"
Is there a way to search for text on a website if i don't have the HTML file on my computer? Maybe over view-source:[URL] directly over the website? I did't find anything about this topic on Google. I just have a web-container yet and now i am trying to search for text from a website using an if loop. Something like that:

[code]

[2020-05-24 11:55] #93 closed

[2021-03-22 13:27] Irshat87 opened #95 "Porting 32-bit code to 64-bit"
From August 1, 2019, apps published on Google Play must support 64-bit architectures. There are some guides to get your 32-bit application ready to support 64-bit devices?

[2021-03-24 07:53] #95 closed

[2022-07-14 19:29] Prathapkarumanchi opened #96 "Project Status"
Hi, Is this project dead or still working and support is available?

Any new updates?